@import url(global.css);

/* -----------[ COURSE CONTENT ]----------- */

#course-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modules-list {
    display: flex;
    flex-direction: column;
}

@media (max-width:768px) {
    #course-content p {
        text-align: justify;
        font-size: 1rem;
        margin: 0 2rem 1rem;
    }

    .module {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        padding: .5rem 1rem;
        height: 51px;
        margin: 1rem 0;
        background-color: var(--grey01-color);
        border-radius: 2rem;
        border: 2px solid var(--primary-color);
        box-shadow: inset -2px 4px 12px 1px #000000ad;
    }

    .module span {
        color: var(--primary-color);
        margin-right: 5px;
        font-weight: 500;
    }
}

@media (min-width:768.1px) {
    #course-content p {
        width: 689px;
        text-align: center;
        font-size: 1rem;
        margin: 0 2rem 1rem;
    }

    .module {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 535px;
        height: 51px;
        margin: 1rem 0;
        background-color: var(--grey01-color);
        border-radius: 2rem;
        border: 2px solid var(--primary-color);
        box-shadow: inset -2px 4px 12px 1px #000000ad;
    }

    .module span {
        color: var(--primary-color);
        margin-right: 5px;
        font-weight: 500;
    }
}

/* -----------[ TRANSFORM WORLD ]----------- */

#transform-world {
    background-image: url(../images/woman-code.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 240px;
    margin-top: 5rem;
}

#transform-world p {
    width: 200px;
    margin-left: 10%;
    color: var(--white-color);
    font-weight: 900;
    font-size: 2rem;
    text-transform: lowercase;
    text-shadow: 3px 2px var(--primary-color);
}

/* -----------[ PROFESSIONAL CHALLENGES ]----------- */

#professional-challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    #professional-challenges h2 {
        margin: 4rem 1rem 0;
        text-align: center;
    }

    #professional-challenges img {
        margin: 1rem 0 0;
        width: 90%;
    }

    #professional-challenges p {
        margin: 2rem 2rem 1rem;
        text-align: justify;
    }
}

@media (min-width:768.1px) {
    #professional-challenges h2 {
        margin: 4rem 2rem 0;
        text-align: center;
    }

    #professional-challenges img {
        width: 676.797px;
        margin: 1rem 0 0;
    }

    #professional-challenges p {
        width: 689px;
        margin: 2rem 2rem 1rem;
        text-align: center;
    }
}

/* -----------[ FOOTER ]----------- */

footer {
    background-image: linear-gradient(to top, #19222d, #00000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

footer p a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}
